.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: fit-content;
}

.sectionForUserRole {
    text-align: center;
    margin-top: 2rem;
}

.btn-logout{
    display: block;
    width: 10rem;
    margin: 2rem auto;
}

.user-badge {
    font-weight: bold;
    font-size: 1.3rem;
}

.btn-options {
    display: block;
    padding:  1rem;
    margin-top: 0.5rem;
}

.user-info {
    font-size: 1.3rem;
    text-transform: uppercase;
}